{% extends "base.html.twig" %}

{% block body %}
    <h1 class="text-center">Send a message</h1>

    <div id="form"></div>

{%  endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('form') }}
{% endblock %}